@font-face {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noah-Regular.woff") format("woff"),
       url("../fonts/Noah-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Noah-RegularItalic.woff") format("woff")
       url("../fonts/Noah-RegularItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noah-Bold.woff") format("woff"),
       url("../fonts/Noah-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mak";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mak-Light.woff") format("woff"),
       url("../fonts/Mak-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mak";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Mak-Bold.woff") format("woff"),
       url("../fonts/Mak-Bold.woff2") format("woff2")
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family:"Noah", sans-serif;
  font-size: 20px;
  line-height: 25px;
  background-color: #1A171B;
  color: #F5F5F5;
}

.visually-hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  position: absolute;
}

.page-header {
  width: 1226px;
  margin: 0 auto;
  color: #FDFDFD;
  background-color:#1A171B;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.navigation {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  align-items: center;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
}

.logo {
  display: block;
  margin-right: 103px;
  margin-top: 34px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 10px;
  font-family: "Noah", sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color:#FDFDFD;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color:#F5F5F5;
  background-color: #1A171B;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.heroblock {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1226px;
  margin: 0 auto;
  font-family: "Noah", sans-serif;
}

.heroblock-text-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 175px;
}

.heroblock-banners {
  display: grid;
  grid-template-columns: 226px max-content;
  align-items: center;
  gap: 65px;
  width: 650px;
  margin: 0 auto;
  margin-left: 0;
  font-size: 28px;
  line-height:35px;
  color: #F5F5F5;
  font-weight: 400;
}

.banner-container {
  padding: 17px 30px;
  border: 1px solid #F5F5F5;
  border-radius: 20px 0;
}

.heroblock-text-banner {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}

.heroblock-date-start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  background-position: center;
  background-size: 95%;
}

.heroblock-date-start {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.heroblock-text-banner {
  margin: 0;
}

.heroblock-header {
  margin-top: 47px;
  margin-bottom: 30px;
  font-family: "Mak", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
}

.heroblock-text {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 38px;
  line-height: 48px;
}

.heroblock-text-comment {
  margin-bottom: 85px;
  font-size: 24px;
  line-height: 30px;
}

.button-other {
  align-self: flex-start;
  padding: 57px 40px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #D9D9D9;
  border-radius: 200px;
  transition: ease 0.3s;
}

.heroblock-image {
  position: absolute;
  left: 500px;
  top: 0;
}

.courses-about {
  position:relative;
  margin: 0 auto;
  margin-top: 273px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  background-color: #FDFDFD;
  color: #1A171B;
}

.courses-about-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 108px;
  width: 600px;
}

.courses-about-title {
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: "Mak", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.courses-about-text {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 20px;
  line-height: 25px;
}


.course-about-text-beforebutton {
  margin-bottom: 148px;
}

.courses-about-button{
  position: relative;
  align-self: flex-start;
  margin-bottom: 194px;
  transition: ease 0.3s;
}

.courses-about-button::after {
  content: "";
  position: absolute;
  width: 82px;
  height: 1px;
  top: -75px;
  left: 40px;
  background-color: #535154;
  transform: rotate(90deg);
}

.courses-about-images-container{
  margin: 0;
}

.courses-about-image-1 {
  position: absolute;
  top: 420px;
  right: 470px;
  z-index: 1;
}

.courses-about-image-2 {
  position: absolute;
  top: 120px;
  right: 100px;
}

.course-programm {
  padding-left: 108px;
}

.course-programm-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.course-programm-title{
  margin-top: 120px;
  margin-bottom: 121px;
  font-family:"Mak", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #FDFDFD;
}

.course-programm-list {
  display: flex;
  flex-direction: column;
  width: 1226px;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #E4E4E4;
}

.course-programm-item {
  position: relative;
  box-sizing: border-box;
  padding: 34px 60px 34px 30px;
  width: 1226px;
  border: 1px solid #9e9e9e;
  background: #1A171B;
  cursor: pointer;
  transition: ease 0.3s;
}

.course-programm-item-empty {
  box-sizing: border-box;
  padding: 34px 60px 34px 30px;
  width: 1226px;
  border: 1px solid #9e9e9e;
  background: #1A171B;
  transition: ease 0.3s;
}

.course-programm-name {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.popover {
  position: absolute;
  display: none;
  top: 100px;
  right: 0;
  box-sizing: border-box;
  width: 1226px;
  font-family: "Noah", sans-serif;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 24px;
  line-height:33px;
  color: #E4E4E4;
  background-color: #2F2C30;
}

.popover-content {
  height: 100%;
}

.porgramm-description-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.arrow-down-icon {
  align-self: center;
  stroke:#E4E4E4;
  transition: ease 0.2s;
}

.course-programm-item:hover {
  color: #1A171B;
  background-color: #E8E8E9;
  border: 1px solid #F1F1F1;
}

.course-programm-item:hover .arrow-down-icon {
  stroke:#1A171B;
}

.course-programm-item:active,
.course-programm-item:focus {
  color: #1A171B;
  background-color: #E8E8E9;
  border: 1px solid #F1F1F1;
  margin-bottom: 170px;
}

.course-programm-item-big:active {
  margin-bottom: 220px;
}

.course-programm-item-biggest:active {
  margin-bottom: 270px;
}

.course-programm-item:active .popover,
.course-programm-link:focus-within .popover {
  display: block;
}

.course-programm-item:active .arrow-down-icon {
  stroke:#1A171B;
  transform: rotate(180deg);
}

.button-course-programm {
  align-self: center;
  margin-top: 90px;
  margin-bottom: 150px;
}

.courses-auditory {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 70px;
  padding-left: 107px;
  padding-bottom: 70px;
  padding-right: 107px;
  background: #FDFDFD;
  color: #1A171B;
}

.courses-auditory-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.courses-auditory-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 65px;
  list-style-type: none;
}

.courses-auditory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 22px;
  margin: 0;
  border:1px solid #A38871;
  border-radius: 5px;
}

.small-item {
  width: 208px;
}

.big-item {
  position: relative;
  width: 532px;
  margin: 0 auto;
}

.big-item::before {
  position:absolute;
  content: "";
  width: 288px;
  height: 1px;
  background-color: #D0C2B7;
  top: 110px;
  left: 600px;
}

.big-item::after {
  position:absolute;
  content: "";
  width: 288px;
  height: 1px;
  background-color: #D0C2B7;
  top: 110px;
  right: 600px;
}

.courses-auditory-number{
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.courses-auditory-text {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.consulting-form-title {
  margin-top: 150px;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px
}

.consulting-form {
  display: grid;
  grid-template-columns: repeat(3,392px);
  gap: 25px 25px;
}

.consulting-form-input {
  padding: 29px;
  border: 1px solid #A38871;
  border-radius: 5px;
  font-family: "Noah", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition: ease 0.2s;
}

.consulting-form-input::placeholder {
  color: #A38871;
}

.consulting-form-button {
  background:#A38871;
  color: #FDFDFD;
  font-family: "Noah", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 26px 125px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
}

.consulting-form-button:hover {
  opacity: 0.5;
}

.about-Daria-title {
  margin-top: 150px;
  margin-left: 108px;
  margin-bottom: 100px;
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.about-Daria-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1224px;
  padding: 0 108px;
}

.about-daria-first-container {
  display: grid;
  margin-bottom: 237px;
}

.about-daria-photo{
  position: absolute;
  left: 470px;
  top: -130px;
  display: block;
  background-image: url("/images/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.about-daria-third-container {
  display: grid;
  margin: 0;
  margin-top: 40px;
  margin-right: 80px;
}

.about-daria-first-text {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 48px;
  margin-bottom: 92px;
}

.about-daria-first-text::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background: linear-gradient(90deg, #FFFFFF 0.53%, #29272A 99.31%);;
  left: -10px;
  bottom: -10px;
}

.about-daria-first-text::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 1px;
  background:  #29272A;
  left: 309px;
  bottom: -5px;
  transform: rotate(340deg);
}

.about-daria-second-text {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 9px;
  margin-bottom: 110px;
}

.about-daria-second-text::after {
  content: "";
  position: absolute;
  width: 310px;
  height: 1px;
  background: linear-gradient(90deg, #FFFFFF 0.51%, #616062 100.25%);
  left: -10px;
  bottom: -10px;
}

.about-daria-second-text::before {
  content: "";
  position: absolute;
  width: 77px;
  height: 1px;
  background: #616062;
  left: 288px;
  bottom: 17px;
  transform: rotate(135deg);
}

.about-daria-third-text {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 23px;
}

.about-daria-third-text::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 1px;
  background: linear-gradient(90deg, #FFFFFF 0.51%, #BBBBBB 100%);
  left: -10px;
  bottom: -10px;
}

.about-daria-third-text::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 1px;
  background-color: #BBBBBB;
  left: 362px;
  bottom: 10px;
  transform: rotate(135deg);
}

.about-daria-fourth-text {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 70px;
}

.about-daria-fourth-text::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  background: linear-gradient(89.94deg, #FFFFFF -5.94%, #3B3A3D 99.86%);
  transform: rotate(180deg);
  right: 25px;
  top: 50px;
}

.about-daria-fourth-text::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 1px;
  background-color: #3B3A3D;
  right: 323px;
  top: 44px;
  transform: rotate(25deg);
}

.about-daria-fifth-text {
  position: relative;
  margin-top: -10px;
}

.about-daria-fifth-text::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 1px;
  background: linear-gradient(89.76deg, #FFFFFF 7.96%, #B0AEB0 92.59%);
  transform: rotate(180deg);
  right: 0;
  top:80px;
}

.about-daria-fifth-text::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 1px;
  background-color: #B0AEB0;
  right: 338px;
  top: 50px;
  transform: rotate(45deg);
}

.about-daria-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.prices {
  background: #FDFDFD;
  color: #1A171B;
  width: 1226px;
  padding: 70px 108px;
}

.tariph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  border: 1px solid #1A171B;
  border-radius: 5px;
}

.prices-container {
  display: flex;
  justify-content: space-between;
  width: 1224px;
}

.prices-title {
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.price-course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list {
  list-style-type: none;
}

.tariph-title {
  display: inline-block;
  margin-top: 0;
  padding: 22px 67px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #1A171B;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.advantage-item{
  font-size: 18px;
  line-height: 22px;
}

.buy-button {
  padding: 57px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #A38871;
  border-radius: 100px;
}

.tariph-button {
  position: relative;
  margin-top: 148px;
}

.tariph-button::before {
  content:"";
  position: absolute;
  width: 82px;
  height: 1px;
  top: -75px;
  left: 40px;
  background-color: #535154;
  transform: rotate(90deg);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 1226px;
  margin: 0 auto;
  padding: 150px 107px;
}

.result-container {
  min-width: 1226px;
}

.result-title {
  margin-bottom: 104px;
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}


.courses-result-list {
  display: grid;
  grid-template-columns: repeat(2, 577px);
  width: 1226px;
  gap: 65px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  margin-bottom: 222px;
}

.courses-result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 18px 22px;
  width: 533px;
  border: 1px solid #A38871;
  border-radius: 5px;
}

.courses-result-number {
  margin-bottom: 7px;
  font-family: "Mak", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

.courses-result-first-text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.courses-result-second-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.result-button {
  position: relative;
}

.result-button::before {
  content:"";
  position: absolute;
  width: 82px;
  height: 1px;
  top: -100px;
  left: 40px;
  background-color: #535154;
  transform: rotate(90deg);
}

.feedback {
  margin: 0 auto;
  width: 1226px;
  padding-left: 108px;
  padding-right: 108px;
  padding-top: 70px;
  padding-bottom: 119px;
  background: #FDFDFD;
  color: #1A171B;
}

.feedback-title {
  font-family: "Mak", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.feedback-container {
  display: grid;
  grid-template-columns: repeat(3, 389px);
  gap: 28px;
}

.first-image-container {
  padding: 14px 16px;
  border: 1px solid #A38871;
  border-radius: 5px;
}

.first-feedback-image {
  padding: 12px 8px 8px 11px;
  border: 1px solid #E2E2E2;
  border-radius: 23px;
}

.second-feedback-image {
  align-self: center;
  padding: 58px 16px;
  border: 1px solid #A38871;
  border-radius: 5px;
}

.third-feedback-image {
  align-self: center;
  padding: 65px 13px;
  border: 1px solid #A38871;
  border-radius: 5px;
}

.page-footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(158, 158, 158, 0.15) 65.73%, rgba(107, 143, 173, 0) 119.86%);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.footer-section {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  padding: 53px 107px;
}

.logo-footer {
  display: block;
  align-self: center;
  margin: 0;
  margin-right: 71px;
  margin-left: 100px;
}

.social-footer-list {
  display: flex;
  gap: 30px;
}

.navigation-footer-list {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  max-width: 150px;
  height: 34;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  transition: ease 0.2s;
}

.social-item:hover {
  opacity: 0.3;
}

.button {
  color: #FDFDFD;
}

/*BUTTON-CONDITIONS*/

.navigation-link:hover {
  opacity:0.3;
}

.buy-button {
  transition: ease 0.3s;
}

.button-other {
  transition: ease 0.3s;
}

.buy-button:hover {
 opacity: 0.3;
}

.button-other:hover {
  opacity: 0.3;
}
